@charset "UTF-8";

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0,0,0,0);
  overflow: hidden;
  white-space: nowrap;
}

*[aria-hidden="true"] {
  opacity: 0;
  height: 0;
  pointer-events: none;
}

button[aria-expanded="false"] svg {
  transform: rotate(180deg);
}

.primary-link + button {
  opacity: 0;
  pointer-events: none;
}

.primary-link + button:focus-visible {
  opacity: 1;
  pointer-events: all;
}
